.experienceContainer{
    background-color: #000;
}

.experienceContainer .sub-titulo{
    font-size: 80px;
}


@media (min-width:100px) and (max-width:1000px) {

    .experienceContainer .sub-titulo{
        font-size: 40px;
    }
    
}