/* Navbar component styles*/
.navbarContainer{
    position: fixed;    
    top:0%;
    left: 50%;
    /* tx,ty*/
    transform: translate(-50%, 0%);

    width:80%;
    height: 80px;
    color:#fff;
    padding: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1000;
}


.navbarContainer .sub-titulo{
    font-size: 20px;
}

.navbarContainer .menuHamburger{
    display: none;
}

.hamburger{
    font-size: 35px;
    margin:0px;
    cursor:pointer;
    color:rgb(253, 56, 62);
}

.navbarContainer .menu{
    display: flex;
    flex-direction: row;
    gap:10px;
    cursor: pointer;
    font-size: 18px;
}

.navbarContainer > p {
    cursor:pointer;
}


@media(min-width:100px) and (max-width:1000px){
    .navbarContainer{
        padding: 20px;
        width: 100%;
    }

    .navbarContainer .menu{
        display: none;
    }
    .navbarContainer .menuHamburger{
        display: block;
    }
}