.proyectsContainer{
    /* background-color: rgb(253, 56, 62); */
    background-color: #000;
    display: grid;
    align-content: center;

    text-align: center;

    position: relative;
}

.proyectsContainer .contentLeftBottom{
    position:absolute;
    bottom: 0px;
    left:0px;

    padding:10px;

    text-align: start;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap:10px;

    height:130px;

}

.proyectsContainer .contentRightBottom{
    position:absolute;
    display: grid;

    align-content: center;

    height:130px;

    bottom:0px;
    right:0px;
    padding:10px;

}

.proyectsContainer .contentRightBottom .sub-titulo{
    font-size: 60px;

    margin:0px;
}

.proyectsContainer .contentLeftBottom .sub-titulo{
    font-size: 20px;
}

.proyectsContainer .contentLeftBottom .descripcion{
    font-size: 16px;
}

.proyectsContainer .contentLeftBottom .btn2{
    padding:4px;
}

.proyectsContainer .content{
    width: 90%;
    height: 100%;

    position:absolute;


    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.proyectsContainer .content .cardsContainer{
    width: 700px;
    height: 500px;

    border:1px solid rgb(253, 56, 62);

    position:relative;
}



.proyectsContainer .content .cardsContainer img{
    width: 100%;
    height: 100%;

    object-fit: cover;

    filter: grayscale(100%);
}

.proyectsContainer .content .cardsContainer .infoProyect{
    width: 500px;
    position: absolute;

    top: 50%;
    left:90%;
    transform: translate(-50%,-50%);

    text-align: end;
}

.proyectsContainer .content .btns{
    position:absolute;
    bottom: -70px;
    right: 0px;
}

@media (min-width:100px) and (max-width:1000px) {
    .proyectsContainer .content .cardsContainer{
        width: 100%;
        height: 40%;
    }    
    .proyectsContainer .content .cardsContainer .infoProyect{
        width: 100%;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);

        text-align: center;

    }
}



